<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row home">
    <h1 class="title">Home</h1>
    <%= render 'shared/feed' %>
  </div>
<% else %>
  <div class="center welcome">
    <h1>Welcome</h1>
    <h2>to the</h2>
    <h1>Travel Board</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>