<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="title">
    <h1>Micropost Feed</h1>
  </div>
  <div class="row">
    <%= render 'shared/feed' %>
  </div>
<% else %>
  <div class="center welcome">
    <h1>Welcome</h1>
    <h1>to the</h1>
    <h1>Travel Board</h1>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>