<% if @feed_items.any? %>
  <div class="row nav_home">
    <%= will_paginate @feed_items, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class: "pagination" %>
    <%= link_to "New Post", new_micropost_path, class: "btn btn-primary new_post" %>
  </div>
  <ol class="microposts row">
    <%= render @feed_items %>
  </ol>
<% else %>
  <div class="row nav_home">
    <%= link_to "New Post", new_micropost_path, class: "btn btn-primary new_post" %>
  </div>
<% end %>