<% provide(:title, "Search") %>
<div class="row home">
  <h1 class="title">Search Result</h1>
  <% if @range == "User" %>
    <% if @users.any? %>
      <div class="row nav_home">
        <%= will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class: "pagination" %>
      </div>
      <% @users.each do |user| %>
        <p><%= user.name %></p>
      <% end %>
    <% else %>
      <div class="row nav_home">
        <h2>No result found</h2>
      </div>
    <% end %>
  <% else %>
    <% if @microposts.any? %>
      <div class="row nav_home">
        <%= will_paginate @microposts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, class: "pagination" %>
      </div>
      <!--検索対象モデルがUserではない時(= 検索対象モデルがMicropostの時) -->
      <ol class="microposts row">
        <%= render @microposts %>
      </ol>
    <% else %>
      <div class="row nav_home">
        <h2>No result found</h2>
      </div>
    <% end %>
  <% end %>
</div>