<li id="micropost-<%= micropost.id %>" class="col-lg-4 contribute-element">
  <div class="content">
    <%= link_to image_tag(micropost.display_image(micropost.images[0]), width: "300", height: "220"), micropost %>
  </div>
  <div class="pin">　
  </div>
</li>