<% provide(:title, 'New Micropost') %>
<% provide(:button_text, 'Post') %>
<h1>Create Micropost</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <section class="micropost_form">
      <%= render 'shared/micropost_form' %>
    </section>
  </div>
</div>